<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Criar Task</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>

<body>

    <form action="" method="POST">
        Titulo: <input type="text" name="tittle"><br>
        Descrição: <input type="text" name="description"><br>
        Responsável: <select name="user_name">
            <option value="Ana">Ana</option>
            <option value="Beatriz">Beatriz</option>
            <option value="Carlos">Carlos</option>
        </select><br><br>
        <input type="submit" value="Criar">
    </form>
</body>

</html>