<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Minhas Tarefas</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>

<body>
    <form method="POST">
        <a href="{{ url_for('create_tasks') }}">Criar tarefas</a></br>
    </p>
    Tarefas Atuais
    </p>

    <TAble >
        <tr border="2">
            <td>Titulo</td>
            <td>Descrição</td>
            <td>Status</td>
            <td>Nome do Usuário</td>
            <td><input type="button" value="Concluir" onclick="update_task_status()"></td>
            <td><input type="button" value="Excluir" onclick="delete_task()"></td>
        </tr>

    </TAble>

    </form>
    

</body>

</html>